
*{
    box-sizing: border-box;
}

body{
    background-color:white;
    color: rgb(12, 50, 56);
    font-size: 18px;
    line-height: 27px;
}

/* .container{
    background-color: white;
    width: 1024px;
    margin: 20px auto;
    padding: 20px 80px;
   } */

.section {
    padding: 30px 0 50px 0px;
    text-align: center;
}

.home, .skills {
    background-color: rgb(145, 191, 194);
    color: rgb(12, 50, 56);
    /* text-align: center; */

}

.section-heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #063940;
}

form{
    text-align: left;
}

.col-md-6{
    margin-bottom: 20px;
}

img{
   max-width: 100%;
   height: auto; 
   margin-top: 5px;
}

button{
border-radius: 5px;
}



@media screen and (max-width: 1200px){
.container{
    width: 100%;
    padding: 20px 40px;
}

.col-md-9{
    float: left;
    margin-top: 30px;
}
}

@media screen and (max-width: 480px){
    .container{
        float: left;
        width: 100%;
        padding: 20px 40px;
    }
    
    .col-md-9{
        float: left;
        margin-top: 20px;
    }
    
}
